@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background:
    linear-gradient(rgba(0, 80, 9, 0.488)), url("./imagem/fundo\ 3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.imagem-trofeu {
  display: block;
  width: 50vw;
  border-right: 4px solid rgb(255, 204, 0);
  border-left: 4px solid rgb(255, 204, 0);
  border-radius: 15px;
  margin: 10px auto;
}

.imagem-trofeu:hover {
  border-right: 4px solid rgb(5, 206, 82);
  border-left: 4px solid rgb(5, 206, 82);
}

.cabecalho {
  background-color: rgb(0, 156, 59);
  color: bisque;
  border-bottom: 5px solid rgb(255, 204, 0);
  border-radius: 0 0 15% 15%;
  font-size: 20px;
}

.cabecalho h1 {
  text-transform: uppercase;
}

.cabecalho div {
  padding: 25px;
  text-align: center;
}

.menu {
  margin: 10px auto;
}

.menu a:hover {
  background-color: white;
  color: rgb(255, 204, 0);
}

.menu a {
  background-color: rgb(48, 38, 129);
  color: bisque;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(255, 203, 0);
  margin: 5px;
}

#sobre p {
  background-color: rgb(7, 7, 90);
  padding: 10px;
  border-top: 3px solid rgb(255, 204, 0);
  border-radius: 25px;
  margin: 5px;
}

#sobre p:hover,
#inscricao form:hover {
  border-top: 3px solid rgb(5, 206, 82);
}

#sobre,
#atividades,
#programacao,
#inscricao {
  color: bisque;
  margin: 50px;
  padding: 10px;
  border-top: 3px solid rgb(255, 203, 0);
  border-bottom: 3px solid rgb(255, 203, 0);
  background-color: rgb(48, 38, 129);
  text-align: center;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.informacao {
  width: 90%;
  max-width: 760px;
  text-align: center;
  border-left: 3px solid rgb(255, 203, 0);
  border-radius: 25px;
  margin: 5px auto;
  padding: 10px;
  background-color: rgb(7, 7, 90);
}

.informacao:hover,
#atividades .card:hover {
  border-left: 3px solid rgb(5, 206, 82);
}

.informacao ul {
  width: 100%;
  max-width: 650px;
  margin: auto 1px;
  padding-left: 25px;
  text-align: left;
}

.informacao li {
  margin-bottom: 8px;
}

#programacao table {
  width: 100%;
  max-width: 850px;
  margin: 15px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 18px;
  overflow: hidden;
  background-color: rgb(7, 7, 90);
  table-layout: fixed;
}

#programacao th {
  padding: 12px;
  background-color: rgb(255, 203, 0);
  color: rgb(48, 38, 129);
  font-size: 18px;
}

#programacao td {
  padding: 10px;
  font-size: 16px;
}

#programacao tbody tr:hover td {
  background-color: rgb(28, 50, 95);
}

#programacao tbody tr:not(:last-child) td {
  border-bottom: 2px solid rgba(255, 228, 196, 0.325);
}

#atividades .card {
  text-align: left;
  background-color: rgb(7, 7, 90);
  margin: 10px;
  padding: 10px;
  border-left: 3px solid rgb(255, 203, 0);
  border-radius: 25px;
}

#atividades h2 {
  text-align: center;
}

.container {
  display: block;
  max-width: 70vw;
  margin: 0 auto;
}

#inscricao button {
  background-color: rgb(255, 203, 0);
  border-radius: 15px;
  padding: 15px;
  color: rgb(0, 156, 59);
}

#inscricao button:hover {
  background-color: white;
  color: rgb(255, 204, 0);
}

#inscricao form {
  max-width: 50vw;
  margin: 30px auto;
  background-color: rgb(7, 7, 90);
  padding: 25px;
  border-radius: 25px;
  margin-top: 10px;
  border-top: 3px solid rgb(255, 204, 0);
}

#inscricao label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: bold;
}

#inscricao input,
#inscricao select,
#inscricao textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid rgb(255, 204, 0);
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

#inscricao input:focus,
#inscricao select:focus,
#inscricao textarea:focus {
  border-color: rgb(0, 156, 59);
}

#inscricao textarea {
  height: 120px;
  resize: none;
}

.checkbox-container {
  margin-bottom: 18px;
}

#inscricao #confirma {
  width: auto;
  padding: 0;
  margin-right: 5px;
}

#inscricao .checkbox-container label {
  display: inline;
}

h2,
h3 {
  color: rgb(255, 203, 0);
}

.rodape {
  background-color: rgb(0, 156, 59);
  color: bisque;
  border-top: 5px solid rgb(255, 204, 0);
  text-align: center;
  padding: 25px;
  border-radius: 15% 15% 0 0;
}
